<h1 id="heading"> User Queries </h1>

<% if user_signed_in? %>

  <p class="errors"><%= flash[:errors] %></p>

  <div id="file-upload" >
    <%= form_for @search_result , url: { controller: 'search_results', action: 'upload', method: :post } do | f | %>

      <p>Upload CSV File</p>

      <label><%= f.file_field :file, accept: 'text/csv' %></label>

      <%= f.submit 'Upload', data: {disable_with: "Analyzing..."}, class: 'btn btn-success' %>

    <% end %>
  </div>

  <div id="results">
  <% if @searches.any? %>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Keywords</th>
          <th>Duration</th>
          <th>#Links</th>
          <th>#GAds</th>
          <th>Raw file</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% i = 1 %>
        <% @searches.each do | search | %>
          <tr class="trow-light">
            <td><%= i %></td>
            <td><%= search.keyword %></td>
            <td><%= search.results_count %></td>
            <td><%= search.links_count %></td>
            <td><%= search.adwords_count %></td>
            <td><%= link_to 'View', raw_code_path(search.id), target: '_blank', class: "view" %></td>
            <td><%= link_to 'Delete', destroy_search_path(search.id), method: :delete, data: {confirm: 'Are you sure?'}, class: "delete" %></td>
          </tr>
          <% i += 1 %>
        <% end %>
      </tbody>
    </table>

  <% end %>

  </div>

  <div id="log-out">
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class:"btn btn-warning" %>
  </div>

<% else %>

  <p class='info'>Login/Signup to upload a CSV file of list of queries to search on google.</p>

  <div id="session-buttons">
  <button type="button" class="btn btn-primary"><%= link_to 'Sign In', new_user_session_path, class: :user_session %></button>

  <button type="button" class="btn btn-primary"><%= link_to 'Sign Up', new_user_registration_path, class: :user_session  %></button>
  </div>

<% end %>
