// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$lighter-grey: #3c4950;
$light-green: #08eb00;
$light-black: #333333;
$little-light-black: #474747;
$very-light-black: #525252;
$dark-black: #242424;
$dark-brown: #a75e11;
$dark-orange: #ff8000;

@mixin flex-center {
  display: flex;
  justify-content: center;
}

@mixin grid-center {
  display: grid;
  justify-content: center;
}

#heading {
  @include flex-center;
  margin-bottom: 40px;
}

.errors {
  @include flex-center;
  color: red;
  font-size: medium;
  font-weight: 700;
  margin-bottom: 40px;
}

.info {
  @include flex-center;
  font-size: x-large;
  color: $lighter-grey;
  margin-bottom: 40px;
}

#session-buttons  {
  @include grid-center;

  .btn-primary {
    margin-bottom: 20px;
  }

  a.user_session {
    color: white;
    font-size: medium;
    font-weight: 700;

    &:hover {
      text-decoration: none;
      color:white;
    }
  }
}


#file-upload  {
  @include grid-center;
  margin-bottom: 50px;
  p {
    font-size: x-large;
    text-align: center;
  }
  label {
    display: inline-flex;
    max-width: 74%;
    input {
      font-size: medium;
    }
  }
  .btn {
    font-size: medium;
    font-weight: 700;
  }
}

#log-out  {
  margin-top: 100px;
  @include flex-center;

  .btn-warning {
    color: red;
    font-size: medium;
    font-weight: 700;
  }
}

#results {
    // prevents the tables' content from overflowing
    overflow: auto;
  table {
    .thead-dark {
      background-color: $dark-black;
      color: white;
      font-weight: 600;
      font-size: 14.5px;

      th {
        text-align: center;
        border: 2px solid $dark-black;
      }
    }

    .trow-light {
      background-color: $light-black;
      color: white;
      font-weight: 500;
      font-size: 13px;

      td {
        text-align: center;
        border: 2px solid $very-light-black;
        .view {
          color: $light-green;
          font-weight: 600;
        }
        .delete {
          color: red;
          font-weight: 600;
        }
      }
      &:hover {
        background-color: $little-light-black;
      }
    }
  }
}


/*--------- footer----------- */
footer {
  span {
    @include flex-center;
    margin-top: 25px;
    padding-top: 5px;
    border-top: 2px solid $little-light-black;
    color: $little-light-black;
    font-size: 12px;

    a {
      color: $dark-brown;
    }
    a:hover {
      color: $dark-orange;
    }
  }
}
